@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_register_Login.cshtml";
}

<head> <link href="~/Content/main_page/coming-soon.css" rel="stylesheet"></head>
<body>
    
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="~/Content/main_page/video_gif/bg_it.mp4" type="video/mp4">
    </video>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h2 class="card-title text-center welcome">Welcome back !</h2>
                        <h6 class="card-title text-center">Login</h6>
                        @Html.ValidationSummary()
                        <form asp-action="Login" asp-controller="Account" method="post" class="form-signin">


                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>

                            <div class="form-Sgroup">
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>

                            <hr />
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



<style>
    :root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body { background: #007bff;  }

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

    .welcome {
        font-weight: bold;
        color: #2196f3;
        font-size: 35px;
    }






</style>